<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5VwnbMJ7vtYt0fVgkIMiG8Rdmc2J8_wY</string>
	<key>GCM_SENDER_ID</key>
	<string>531872820704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.testApp</string>
	<key>PROJECT_ID</key>
	<string>react-native-analytics-ffce9</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-analytics-ffce9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531872820704:ios:3461919c358343ac824f85</string>
</dict>
</plist>